<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Pago - Tienda de Ropa de Alpaca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Tienda de Ropa de Alpaca</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('viewProducts') }}">Productos</a></li>
                    <li><a href="{{ url_for('index') }}#about">Nosotros</a></li>
                    <li><a href="{{ url_for('index') }}#contact">Contacto</a></li>
                    <li><a href="{{ url_for('view_cart') }}" class="btn">Ver Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="payment-details" class="payment-details">
            <div class="container">
                <h2>Detalles de Pago</h2>
                <form action="{{ url_for('checkout') }}" method="POST">
                    <div class="form-group">
                        <label for="payment_method">Método de Pago</label>
                        <select name="payment_method" id="payment_method" required>
                            <option value="credit_card">Tarjeta de Crédito</option>
                            <option value="paypal">PayPal</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="credit_card_number">Número de Tarjeta</label>
                        <input type="text" id="credit_card_number" name="credit_card_number" placeholder="1234-5678-9876-5432" required>
                    </div>

                    <div class="form-group">
                        <label for="shipping_address">Dirección de Envío</label>
                        <textarea id="shipping_address" name="shipping_address" placeholder="Ingresa tu dirección" required></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn">Pagar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Tienda de Ropa de Alpaca. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
